@import "tailwindcss";
@import "./assets/fonts/satoshi.css";

@theme {
    /* 
        Colors
        examples of use: text-primary, bg-white
    */
    --color-primary: #00369C;
    --color-secondary: #ECF3FF;
    --color-white: #F9F9FB;
    --color-black: #1D2939;
    --color-error: #C80808;
    --color-warning: #FFC964;
    --color-success: #27AE60;
    --color-hover: #437BE4;
    --color-on-click: #082762;
    --color-disabled: #DDDDDD;
    --color-whitey: #FFFFFF;
    --color-bg-disabled: #EFF2F5;
    --color-neutral-c: #788EAB;

    /* 
        Fonts 
        examples of use: font-satoshi-regular, font-satoshi-italic
    */
    --font-satoshi-variable: 'Satoshi-Variable', sans-serif;
    --font-satoshi-variable-italic: 'Satoshi-VariableItalic', sans-serif;
    --font-satoshi-light: 'Satoshi-Light', sans-serif;
    --font-satoshi-light-italic: 'Satoshi-LightItalic', sans-serif;
    --font-satoshi-regular: 'Satoshi-Regular', sans-serif;
    --font-satoshi-italic: 'Satoshi-Italic', sans-serif;
    --font-satoshi-medium: 'Satoshi-Medium', sans-serif;
    --font-satoshi-medium-italic: 'Satoshi-MediumItalic', sans-serif;
    --font-satoshi-bold: 'Satoshi-Bold', sans-serif;
    --font-satoshi-bold-italic: 'Satoshi-BoldItalic', sans-serif;
    --font-satoshi-black: 'Satoshi-Black', sans-serif;
    --font-satoshi-black-italic: 'Satoshi-BlackItalic', sans-serif;
}

/* In your global CSS file */
@layer utilities {
  .scrollbar-blue::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-blue::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb {
    background-color: #00369C; /* Tailwind's blue-500 */
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb:hover {
    background-color: #00369C; /* Tailwind's blue-600 on hover */
  }
}


