# Core dependencies
fastapi==0.115.11
uvicorn==0.34.0 

# Database dependencies (PostgreSQL )
sqlalchemy==2.0.39  
psycopg2-binary==2.9.10
supabase==2.14.0

# Auth
python-dotenv==1.0.1
pyjwt==2.10.1
passlib[bcrypt]==1.7.4